.footer__container{
    background-color: var(--primary-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--secondary-text-color);
}