@import "/app/mixins.scss";

.footer {
  @include media-breakpoint-down(sm) {

    &__name > &__h1 {
      font-size: 16px;
    }

    img {
      font-size: 14px;
    }

    &__links {
      font-size: 14px;
    }

    &__social {
      justify-content: center;
    }

    &__description {
      font-size: 12px;
      text-align: center;
    }
  }

  @include media-breakpoint-up(sm) {
    &__name > &__h1 {
      font-size: 28px;
    }

    img, &__links {
      font-size: 22px;
    }
    &__description {
      font-size: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 40px 20px;
    &__links {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
   @include media-breakpoint-up(md) {
    &__links {
      justify-content: space-between;
      gap: 20px;
    }
   }

   @include media-breakpoint-between(md, xxxl){
    padding: 60px 20px;
   }

  @include media-breakpoint-up(xxxl) {
    padding: 75px 230px;

    &__social {
      justify-content: flex-end;
      align-items: center;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-family: var(--font-open-sans), sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);

  &__name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;
  }
  &__description, &__social{
    padding: 10px;
  }
  &__description{
    text-align: center;
  }

  &__name > &__h1 {
    font-family: var(--font-merriweather), serif;
  }
  &__links{
    display: flex;
  }
  &__social{
    gap: 30px;
    display: flex;
  }
}