/* Timeline.module.css */

.timeline {
  position: relative;
  width: 4px;
  min-height: 300px;
  margin: 20px auto;

  &__line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}
}