@import "../../../mixins";

.card {

    @include media-breakpoint-down(sm){
        &__title {
            font-size: 22px;
        }
        section, ul{
            font-size: 16px;
        }
    }
    @include media-breakpoint-up(sm){
        &__title {
            font-size: 28px;
        }
        section, ul{
            font-size: 22px;
        }
    }
    @include media-breakpoint-down(md){
        gap: 20px;
        &__avatar{
            width: 90px;
            height: 90px;
        }
    }
    @include media-breakpoint-up(md){
        gap: 30px;
    }
    @include media-breakpoint-between(md, xxxl){
        &__avatar{
            width: 120px;
            height: 120px;
        }
    }
    @include media-breakpoint-up(xxxl){
        padding-left: 120px;
        padding-right: 120px;
        &__avatar{
            width: 150px;
            height: 150px;
        }
    }
    
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: var(--font-open-sans), sans-serif;
    transition: box-shadow 0.5s;
    &:hover{
        box-shadow: 0px 0px 15px var(--primary-color);
        .card__title{
          text-decoration: underline;
        }
    }
  
    section {
      margin-top: 20px;
    }
  
    &__avatar {
      border-radius: 50%;
      object-fit: cover;
    }
    &__button-delete{
        width: 25px;
        height: 25px;
    }
    &__first-line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title {
      display: flex;
      flex-direction: row;
      font-weight: 600;
      font-family: var(--font-merriweather), serif;
    }
  
    &__elements {
      padding: 5px 10px;
      border-radius: 10px;
      margin: 20px 20px 0 0;
      display: inline-block;
    }
    &__container-info{
        width: 100%;
    }
  
  }