@import "../../../mixins.scss";

.maket {

    @include media-breakpoint-down(sm){
        h3{
            font-size: 22px;
        }
    } 

    @include media-breakpoint-up(sm){
        h3{
            font-size: 28px;
        }
    }

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;

        &__window {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__line{
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        &__window{
            width: 85%;
        }
    }

    @include media-breakpoint-between(md, xxxl) {
        &__window {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__line{
            margin-bottom: 40px;
        }
    }

    @include media-breakpoint-up(xxxl) {
        &__window {
            padding-top: 75px;
            padding-bottom: 75px;
        }
        &__line{
            margin-bottom: 60px;
        }
      
    }

    background-color: var(--background-color);
    gap: 20px;

    p{
        font-family: var(--font-open-sans), sans-serif;
        color: var(--text-color);
    }
    h3, span{
        font-family: var(--font-merriweather), serif;
        color: var(--secondary-color);
        font-weight: 700;
    }

    &__window {
        padding-right: 20px;
        padding-left: 20px;
    }

    &__line{
        background-color: var(--primary-color);
        height: 3px;
    }
  }